*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
   
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-text-size-adjust: 100%; }

a {
  font-weight: bold;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

ul, ol {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #f9f9f9; }

.wrapper {
  overflow: hidden; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

header {
  background: #fff;
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }

.header__wrap {
  padding: 10px;
  display: table;
  width: 100%; }

.header__cell {
  display: table-cell;
  vertical-align: middle; }

.logo {
  display: block;
  width: 110px; }

.menu {
  display: none; }

.social__item {
  display: none; }

.social__item_menu {
  display: block;
  width: 36px;
  height: 20px;
  margin-left: auto;
  border: solid #6c00ac;
  border-width: 4px 0;
  position: relative; }

.social__item_menu:before {
  content: '';
  width: 100%;
  height: 4px;
  background: #6c00ac;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px; }

a {
  color: #6c00ac; }

.main {
  background: #fff;
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 10px; }

.title {
  font-size: 19px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase; }

.title span {
  color: #fff;
  display: table;
  margin: 0 auto;
  background: #cfaa45;
  padding: 0 5px; }

.photo {
  font-size: 0;
  text-align: center;
  padding: 20px 0 15px;
  overflow: hidden;
  max-width: 630px;
  margin: 0 auto; }

.photo img {
  min-width: 490px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  left: 50%; }

.photo__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: -15px 0 0;
  position: relative; }

.photo__subtitle {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  text-transform: uppercase;
  background: #000;
  color: #fff; }

.photo__subtitle_mod {
  background: #cfaa45;
  color: #fff; }

.main__text {
  padding: 5px 0 10px;
  line-height: 1.4; }

.main__title {
  padding: 5px 0 10px;
  text-transform: uppercase;
  font-size: 22px; }

.main__title_colored {
  padding: 25px 0 10px;
  color: #cfaa45;
  font-size: 22px; }

.main__photo {
  padding: 5px 0 10px;
  margin: 0 auto; }

.title_mod {
  font-size: 22px;
  text-align: left;
  padding: 10px 0; }

.main__info {
  font-size: 22px; }

.main__title_mod {
  padding-top: 25px; }

.main__subtext {
  color: #8a8a8a;
  text-align: center;
  line-height: 1.2; }

.main__subtext b {
  color: #000; }

.button__wrap {
  padding: 15px 0;
  text-align: center; }

.button {
  display: inline-block;
  padding: 25px 20px;
  width: 90%;
  max-width: 270px;
  border-radius: 40px;
  background: #ffc117;
  color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(236, 179, 44, 0.5), inset 0 -40px 20px -20px #FEA700;
          box-shadow: 0 5px 20px rgba(236, 179, 44, 0.5), inset 0 -40px 20px -20px #FEA700;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  -webkit-transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  transition: -webkit-box-shadow .3s, -webkit-transform .3s;
  -o-transition: box-shadow .3s, transform .3s;
  transition: box-shadow .3s, transform .3s;
  transition: box-shadow .3s, transform .3s, -webkit-box-shadow .3s, -webkit-transform .3s; }

.button:hover {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0 0 15px rgba(254, 107, 34, 0.7), inset 0 -150px 0 -30px #fe6b22;
          box-shadow: 0 0 15px rgba(254, 107, 34, 0.7), inset 0 -150px 0 -30px #fe6b22; }

.comments {
  -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 10px; }

.comments__title {
  padding: 10px;
  background: #cfaa45;
  color: #fff;
  font-size: 24px; }

.comments__item {
  padding: 15px 0; }

.comments__avatar {
  display: inline-block;
  vertical-align: top;
  max-width: 52px;
  margin-right: 10px; }

.comments__content {
  display: inline-block;
  vertical-align: top;
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  max-width: 85%; }

.comments__name {
  font-weight: bold; }

.comments__text {
  padding: 10px 0;
  line-height: 1.4; }

.comments__photo {
  margin: 0 0 10px; }

.comments__date {
  color: #909cb5;
  display: inline-block;
  padding-right: 15px; }

.comments__answer {
  text-decoration: none;
  color: #cfaa45;
  font-weight: normal; }

.comments__answer:hover {
  text-decoration: underline; }

aside {
  display: none; }
