@media (min-width: 990px) {
  body {
    font-size: 18px;
  }
  
  header {
    margin-bottom: 22px;
  }

  .content {
    display: table;
  }

  .content__cell {
    display: table-cell;
    vertical-align: top;
  }

  .main {
    padding: 20px 15px 0;
    margin-bottom: 22px;
  }

  .logo {
    width: auto;
  }

  .menu {
    display: block;
    text-align: right;
  }

  .menu__item {
    display: inline-block;
  }

  .menu__point {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    position: relative;
  }

  .menu__point:hover {
    text-decoration: underline;
  }

  .menu__point svg {
    width: 9px;
    height: 8px;
    fill: #6c00ac;
    opacity: .3;
    margin-right: 10px;
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    -o-transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s, -webkit-transform .2s;
  }

  .menu__point:hover svg {
    opacity: .6;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }

  .social {
    text-align: right;
    padding-left: 30px;
  }

  .social__item {
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
  }

  .social__item svg {
    width: 15px;
    height: 15px;
  }

  .social__item:hover svg {
    fill: #7f00b1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .social__item_menu {
    display: none;
  }

  .social__item_search {
    width: 16px;
    height: 16px;
    position: relative;
    margin-left: 50px;
  }

  .social__item_search:before {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    top: 0;
    left: 0;
  }

  .social__item_search:after {
    content: '';
    width: 8px;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: -1px;
  }

  .title {
    font-size: 32px;
    clear: both;
  }

  .title_mod {
    font-size: 36px;
  }

  .photo__subtitle {
    padding: 10px;
    font-size: 18px;
  }

  .main__title,
  .main__title_colored,
  .main__info {
    font-size: 24px;
  }

  .main__title_mod {
    font-size: 22px;
  }

  .main__text,
  .main__photo {
    padding: 10px 0 15px;
  }

  .main__photo_mod {
    float: right;
    margin-left: 15px;
  }

  .block-on-desctop {
    display: block;
  }

  .main__subtext {
    font-size: 20px;
  }

  .comments {
    padding: 15px;
    margin-bottom: 15px;
  }

  .comments__avatar {
    margin-right: 15px;
    max-width: 100%
  }

  .comments__photo {
    margin: 10px 0 20px;
  }

  aside {
    display: block;
    width: 260px;
    padding-left: 15px;
  }

  .aside__case {
    background: #fff;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    counter-reset: aside__count;
  }

  .aside__title {
    text-transform: uppercase;
    font-size: 18px;
    padding: 15px 30px;
    color: #fff;
    background: #cfaa45;
  }

  .aside__point {
    display: block;
    padding: 15px 25px 10px 40px;
    color: #cfaa45;
    font-weight: normal;
    text-decoration: none;
    position: relative;
    font-size: 15px;
  }

  .aside__point:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #cfaa45;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -2px 0 0 25px;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }

  .aside__point:hover:before {
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
  }

  .aside__item a {
    font-weight: normal;
    text-decoration: none;
  }

  .aside__item_top .aside__subtitle {
    padding: 5px;
  }

  .aside__subtitle {
    text-align: center;
  }

  .aside__item_top .aside__date {
    text-align: center;
    padding-bottom: 15px;
  }

  .aside__date {
    color: #cfaa45;
    font-size: 13px;
    text-transform: uppercase;
  }

  .aside__wrap {
    padding: 0 10px;
  }

  .aside__wrap .aside__item {
    border-top: 3px solid #f9f9f9;
    padding: 15px 0;
  }

  .aside__pict {
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
  }

  .aside__info {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .aside__item p {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    padding-bottom: 15px;
  }

  .aside__item a:hover p {
    text-decoration: underline;
  }

  .aside__item {
    position: relative;
  }

  .aside__item:before {
    content: counter(aside__count);
    counter-increment: aside__count;
    font-size: 13px;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background: #cfaa45;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
  }

  .aside__item_top:before {
    color: #000;
    background: #fff;
    margin-top: 0;
  }
}